<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>COVID-19: Calculate the Risk</title>
</head>
<body>
  <header class="container">
    <div>
      <h1>COVID-19: Calculate the Risk</h1>
    </div>
  </header>
    <main class="container">
    <form class="form" method="POST" action="{{ url_for('calculate') }}">
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-text">Please Select City</span>
        <select name="comp_select" class="form-select">
        {% for city in data['cities'] %}
          <option value="{{ city }}">{{ city }}</option>
        {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Calculate</button>
      </div>
      {% if data['city'] %}
      <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom">{{ data['city'] }}</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
        <div>
          <h5 class="text-secondary mb-0">Total Cases</h5>
          <h1>{{ data['total_cases'] }}</h1>
        </div>
        </div>
        <div class="col d-flex align-items-start">
        <div>
          <h5 class="text-secondary mb-0">Active Cases</h5>
          <h1>{{ data['active_cases'] }}</h1>
        </div>
        </div>
        <div class="col d-flex align-items-start">
        <div>
          <h5 class="text-secondary mb-0">Recovered</h5>
          <h1 class="text-success">{{ data['recovered'] }}</h1>
        </div>
        </div>
        <div class="col d-flex align-items-start">
        <div>
          <h5 class="text-secondary mb-0">Total Death</h5>
          <h1 class="text-danger">{{ data['total_death'] }}</h1>
        </div>
        </div>
      </div>
      </div>
      {% endif %}
    </form>
  </main>
  <footer class="footer">
    <div class="container">
      <p>Copyright © 2021 ACHIEVEMENTS HUNTERS</p>
    </div>
  </footer>
</body>
</html>