<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="script/angular.min.js"></script>
	<script src="script/scripts.js"></script>
	<title>COVID-19: Calculate the Risk</title>
</head>
<body>
	<header class="header">
	  <div class="title">
			<h1>COVID-19: Calculate the Risk</h1>
	  </div>
	</header>
    <main>
		<form class="form w-75" method="POST" action="{{ url_for('test') }}">
		  <div class="form-group">
			<div class="input-group">
				<span class="input-group-text">Please Select City</span>
				<select name="comp_select" class="form-select">
				{% for city in data %}
					<option value="{{ city }}">{{ city }}</option>
				{% endfor %}
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Calculate</button>
		  </div>
		</form>
	</main>
	<footer class="footer">
		<div class="container">
			<p>Copyright © 2021 ACHIEVEMENTS HUNTERS</p>
		</div>
	</footer>
</body>
</html>
